---
import BaseLayout from "../layouts/Layout.astro";

import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout title="About | David Heredia" description="About David Heredia">
  <div class="stack gap-20">
    <main class="wrapper about">
      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <a>Flutter Developer | Accenture | April 2024 - June 2024</a>
          <a>
            Android Developer | Internet of Things | October 2019 - July 2023
          </a>
          <a>
            FullStack Developer | What You Look For S.L | July 2017 - September
            2019
          </a>
          <a>
            Intern Application Developer | What You Look For S.L | March 2017 -
            Jun 2017
          </a>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <a>ReactJS Udemy Course</a>
          <a
            href="https://www.udemy.com/certificate/UC-cc949cd6-ac57-4ea5-b7d0-4e32c2db2068/"
            >.NET Udemy Course</a
          >
          <a>CFGS DAM I.E.S Francisco de los Ríos (2015-2017)</a>
          <a>CFGM SMR I.E.S Francisco de los Ríos (2013-2015)</a>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>JAVA</p>
          <p>Kotlin</p>
          <p>JetPack Compose</p>
          <p>Swift</p>
          <p>Flutter</p>
          <p>Ionic</p>
          <p>.NET</p>
          <p>ReactJS</p>
          <p>NodeJS</p>
          <p>HTML5 & CSS3</p>
          <p>Python</p>
          <p>LaTeX</p>
          <p>Objetive C</p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Languages</h2>
        <div class="content">
          <p>Native Spanish</p>
          <p>English Advanced</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      color: var(--gray-0);
      display: block;
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
