---
import BaseLayout from "../layouts/Layout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="My Work | David Heredia"
  description="Learn about David Heredia's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="Here are some of the projects I have worked on."
        align="start"
      />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
